.totalrow {
    font-weight: bold;
    color: black;
    text-align: center;
    caret-color: transparent;
}

.data-row {
    height: 35px;
}

.selected {
    background-color: lightblue;
    border-left: 3px solid #318CE7;
}

.badge {
    background-color: lightgray;
}