.totalrow {
    font-weight: bold;
    color: black;
    caret-color: transparent;
}

.data-row {
    height: 35px;
}

/* .cell {
    border: 1px solid blue;
} */

.selected {
    background-color: lightblue;
    border-left: 3px solid #318CE7;
}

.badge {
    background-color: lightgray;
}