.no-hover {
    pointer-events: none;
}

.totalrow {
    font-weight: bold;
    color: black;
    text-align: center;
    caret-color: transparent;
}

.selected {
    background-color: lightblue;
}

.badge {
    background-color: lightgray;
}