.wrapper {
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inner {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px dashed red;
    gap: 5px;
}

.button-element:focus {
    outline: none;
    box-shadow: none;
  }